.flexbox-treadview-top {
  display: flex;
}

.thread-headline {
  font: var(--inter-1);
  margin-left: 5%;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: bold;
  flex-grow: 10;
}

.flex-newchat-icon {
  flex-grow: 1;
  padding-left: 35%;
  padding-top: 4%;

}

.flexbox-treadview-top {
  display: flex;
}

.threadview-line {
  height: 1.5px;
  background-color: black;
  justify-content: center;
}

.threads-list {
  background-color: red;
}

.newThread-box {
  background-color: var(--global-secondary-3);
  padding: 40px;
  border-radius: 10px;
  border: solid 1px;
  border-color: var(--global-secondary-2);
  position: absolute;
}

.buttons-newthread-dropdown{
  display: flex;
  gap: 6px;
}