/* Global colors */
:root {
    /* Primary scale:  */
    --global-primary-5: hsla(346, 58%, 98%);
    --global-primary-4: hsla(346, 56%, 94%);
    --global-primary-3: hsla(346, 54%, 88%);
    --global-primary-2: hsla(346, 52%, 77%);
    --global-primary-1: hsla(345, 39%, 67%);
  
    /* Secondary scale: */
    --global-secondary-5: hsla(290, 25%, 90%);
    --global-secondary-4: hsla(289, 29%, 85%);
    --global-secondary-3: hsla(289, 28%, 80%);
    --global-secondary-2: hsla(288, 20%, 70%);
    --global-secondary-1: hsla(287, 14%, 60%);
  
    /* Black scale: */
    --global-black-5: hsla(0, 0%, 50%);
    --global-black-4: hsla(0, 0%, 40%);
    --global-black-3: hsla(0, 0%, 30%);
    --global-black-2: hsla(0, 0%, 20%);
    --global-black-1: hsla(0, 11%, 0%);
    
    /* Grey scale  */
    --global-grey-5: hsla(0, 0%, 90%);
    --global-grey-4: hsla(0, 0%, 85%);
    --global-grey-3: hsla(0, 0%, 77%);
    --global-grey-2: hsla(0, 0%, 62%);
    --global-grey-1: hsla(0, 0%, 56%);

    /* Attension scale */
    --global-red: hsl(357, 73%, 63%);
    --global-yellow: hsl(48, 100%, 68%);
    --global-green: hsl(130, 61%, 45%);
  }