.joingroupchat-headline{
    font: var(--inter-1);
    margin-left: 2%;
    margin-top:12px;
    margin-bottom: 12px;
    font-weight: bold;
 
  }

  .container1-groupthemebox{
    display: flex;
    gap: 100px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .container2-groupthemebox{
    display: flex;
    gap: 100px;
    margin-left: 50px;
    margin-top: 50px;
  }
