@font-face {
    font-family: "Inter";
    src: url(" https://github.com/rsms/inter");
  }

.flex-container {
    display: flex;
}



.flex-child:first-child {
    margin-left: 100px;
    margin-right: 10px;
} 

.info{
background-color:hsl(346, 58%, 98%) ;
text-align: left;
border-radius: 40px;
width: 55%;
line-height: 1.8;
padding-top: 10px;
padding-bottom: 10px;
padding-right:25px;
padding-left:40px;
margin-left: 270px;
margin-top: 120px;
}
