.sign-up-headline{
  text-align: center;
  padding-top: 3%;
  font: var(--inter-1);
}

.link-to-login {
  text-align: center;
  margin: 10px 0 10px 0;
  font: var(--inter-normal-text)
}

.buttons-createuser-row{
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  gap: 5%;
}

/* Change color for Link */
a {
  color: var(--global-black-2);
  font-weight: bold;
}

/*  Hover to link  */
a:hover {
  color:  var(--global-primary-1);
}

.inputfields-createuserform-container{
  padding:1px;
  padding-right: 10px;
  padding-left: 0;
  margin-left: 20%;
  margin-right: 20%;
}

.createUser-popUp-container {
  text-align: center;
  font: var(--inter-normal-text);

}

.Check-Cirkle-icon {
  color: var(--global-green);
}

.createUser-popUp-headline {
  font: var(--inter-1);
  margin-bottom: 2px;
}

.createUser-popUp-text {
  margin-bottom: 40px;
 
}


