.sign-up-headline{
  text-align: center;
  padding-top: 5%;
  font: var(--inter-1);
}

.link-to-login {
  text-align: center;
  margin: 15px 0 15px 0;
  font: var(--inter-normal-text)
}

.buttons-row{
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  gap: 7%;
}

/* Change color for Link */
a {
  color: var(--global-black-2);
  font-weight: bold;
}

/*  Hover to link  */
a:hover {
  color:  var(--global-primary-1);
}

.inputfields-createuserform-container{
  padding: 10px 10px;
  padding-left: 0;
  margin-left: 20%;
  margin-right: 20%;
}

.popUpJose{
  height: 150px;
  width: 150px;
  background-color: blueviolet;
  position: absolute;
  top: 25%;
  right: 25%;
}

.popUpHeader {
  display: flex;
  justify-content: space-between;
  padding: 30px;

}

.mainJose{
  background-color: aqua;
  position: absolute;
  width: 100%;
  height: 100%;

}