.button-component{
  text-align: center;
  border-radius: 6px;
  padding: 3% 0%;
  color: var(--global-black-1);
  font: var(--inter-buttons); 
  width: 110px;
  font-weight: bolder;
  transition-duration: 0.4s;
  border: none;
}

.button-component :hover{
  box-shadow: 0 12px 16px 0 var(--global-primary-3), 0 17px 50px 0 var(--global-primary-3);
}



