@font-face {
    font-family: "Inter";
    src: url(" https://github.com/rsms/inter");
  }


.cancelbutton{
    background-color: hsl(0, 0%, 85%);
   text-align: center;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-radius: 6px;
    border-radius: 6px;
    font-family: "Inter";
    border-color: hsl(0, 0%, 85%);
    color: hsl(0, 11%, 0%);
    font-size: 8px;
    font-weight: bold;   
    margin-top: 25px;
    margin-right: 5px;
    margin-left: 30%;
    width: 90px;
}
.cancelbutton:hover{
    background-color: hsl(0, 0%, 80%);
}