@font-face {
    font-family: "Inter";
    src: url(" https://github.com/rsms/inter");
  }


.primarybutton2{
    background-color: hsl(345, 39%, 67%);
    padding-left: 2.5%;
    padding-right:2.5%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    border-radius: 8px;
    font-family: "Inter";
    border-color: hsl(345, 39%, 67%);
    color: hsl(0, 11%, 0%);
    font-size: 12px;
    font-weight: bold;   
}

