.dropdown {
  width: 80%;
  height: 20px;
  padding: 8px;
  margin-left: 24%;
  line-height: 1.2;
  margin-bottom: 16px;
  font: var(--inter-normal-text);
}

.select-location {
  width: 60%;
  height: 28px;
  border-radius: 10px;
  border: solid;
  border-color: var(--global-primary-3);
  padding-left: 5px;
  font: var(--inter-normal-text);
}

.select-location:focus {
  outline-color: var(--global-primary-1)
  !important;
}

.select-location:hover {
  border-color: var(--global-primary-1);
}
