.form {
  background-color: var(--global-primary-5);
  border-radius: 40px;
  width: 400px;
  margin: 20px auto;
  padding: 18px;
  color: var(--global-black-2);
}

.form-body{
  padding: 10px 10px;
  margin-left: 24%;
}
    
.form__label{
  width: 80%;
  color:var(--global-black-2);
  line-height: 1.2;
  font: var(--inter-normal-text);

  /* Text being exactly above the text in the input field */
  margin-left: 6px;
}
.form__input{
  width: 65%;
  height: 23px;
  border-radius: 10px;
  border:solid;
  border-color: var(--global-primary-3);
  padding-left: 5px; 
  font: var(--inter-normal-text);
  
  /* Space between the label an input */
  margin-top: 4px;
}

.form__input:hover{
    border-color: var(--global-primary-1);
}


input:focus{
  outline-color: var(--global-primary-1) !important
}


