.carousel {
  overflow: hidden;
}

.inner-carousel {
  white-space: nowrap;
  transition: transform 0.3s;
}

.indicators-arrows {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.indicators-arrows > button {
  margin: 5px;
}
