.container {
  background-color: hsl(346, 58%, 98%);
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 50px;
  border-radius: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 300px;
  justify-content: center;
}

.column-right {
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  color: hsl(0, 11%, 0%);
}

.signin-button {
  background-color: hsl(346, 52%, 77%);
  border-color: hsl(346, 52%, 77%);
  font-size: 28px;
  padding: 30px;
  border-radius: 20px;
}

.login-button {
  background-color: hsl(289, 29%, 90%);
  border-color: hsl(289, 29%, 90%);
  font-size: 28px;
  padding: 30px;
  border-radius: 20px;

  margin-right: 50px;
  margin-left: 80px;
}
.column-left {
  justify-content: center;
  text-align: center;
  padding-top: 90px;
  padding-left: 100px;
  padding-right: 100px;
}
