.container{
background-color:hsl(346, 58%, 98%) ;
margin-right: 5%;
margin-left: 5%;
border-radius: 40px;
height: 100%; 
display: flex;
align-content: center; 

}

.container-right{

    background-color: black;
}

.container-left{
    
    background-color: aqua;
    align-content: right;
}