.drop-down-profile-box {
  box-sizing: border-box;
  width: 170px;
  height: 200px;
  background-color: var(--global-primary-3);
  border-radius: 14%;
}

.drop-down-profile-text {
  padding: 10px 10px 2px 10px;
  font: var(--inter-2);
}

.drop-down-profile-Help {
  border-bottom: 0.1em solid var(--global-black-2);
}

.drop-down-profile-Logout {
  border-bottom: 0.1em solid var(--global-black-2);
}
