.flex-container-chatnavigation {
  display: flex;
  flex-direction: column;
  background-color: var(--global-grey-5);
  height: fit-content;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.chat-icon {
  color: var(--global-black-2);
  font-size: 100px;
}
.chat-box {
  padding: 10px;
  padding-top: 70.3px;
  padding-bottom: 70.3px;
  text-align: center;
  font: var(--inter-normal-text);
}

.groupchat-icon {
  color: var(--global-black-2);
  font-size: 100px;
}
.groupchat-box {
  padding: 10px;
  padding-top: 70.3px;
  padding-bottom: 70.3px;
  text-align: center;
  font: var(--inter-normal-text);
}

.flex-child1-chatnavigation {
  border-top-left-radius: 18px;
}

.flex-child2-chatnavigation {
  border-bottom-left-radius: 18px;
}

.flex-child1-chatnavigation :hover {
  background-color: var(--global-grey-3);
  flex-shrink: 3;
  border-top-left-radius: 18px;
}

.flex-child2-chatnavigation :hover {
  background-color: var(--global-grey-3);
  flex-shrink: 3;
  border-bottom-left-radius: 18px;
}

.chatnavigation-line {
  height: 1px;
  width: 100%;
  background-color: var(--global-black-1);
  justify-content: center;
}
