.dropdown {
  padding: 0px;
  margin-left: 20%;
  margin-right: 20%;
  font: var(--inter-normal-text);
  color: var(--global-black-2);
  margin-top:2px;

}

.select-location {
  color: var(--global-black-5);
  width: 100%;
  height: 34px;
  border-radius: 10px;
  border: solid;
  border-color: var(--global-primary-3);
  font: var(--inter-normal-text);
  /* Space between the label an input */
  margin-top: 6px;

}
.dropdown__label{
  width: 100%;
  color:var(--global-black-2);
  font: var(--inter-normal-text);
  /* Text being exactly above the text in the input field */
  margin-left: 6px;
}

.select-location:focus {
  outline-color: var(--global-primary-1)
  !important;
}


