/* The entire form */
.login-form-container {
  width: 40%;
  background-color: var(--global-primary-5);
  height: 810%;
  padding: 40px 10px 40px 10px;
  border-radius: 35px;
  display: block;
  margin: 100px auto;
  text-align: center;
}

.log-in-headline {
  font: var(--inter-1);
  color: var(--global-black-1);
}


/* Link to sign up */
.link-to-signup {
  margin: 15px 0 15px 0;
  font: var(--inter-normal-text);
}

/* The input fields */
.login-input-fields {
  text-align: start;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font: var(--inter-normal-text);
  padding: 10px 10px;
  padding-left: 0;
  margin-left: 20%;
  margin-right: 20%;

}

/* Link to forgot password */
.link-forgot-password {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  font: var(--inter-normal-text);
}

/* Change color for Link */
a {
  color: var(--global-black-1);
}

/* Hover to link */
a:hover {
  color: hsl(345, 39%, 67%);
}

