/* The entire form */
.login-form-container {
  width: 30%;
  background-color: var(--global-primary-5);
  color: hsl(0, 11%, 0%);
  height: 80%;
  padding: 40px 10px 20px 10px;
  border-radius: 35px;
  display: block;
  margin: 60px auto;
  text-align: center;

}

.log-in-headline {
  font: var(--inter-h1);
  color: red;
  font-size: var(--inter-h1);

}

/* Link to sign up */
.link-to-signup {
  margin: 15px 0 15px 0;

 
}

/* The input fields */
.login-input-fields {
  text-align: start;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Link to forgot password */
.link-forgot-password {
  font-weight: bold;
  margin-bottom: 40px;

}

/* Change color for Link */
a {
  color: hsl(0, 11%, 0%);
}

/* Hover to link */
a:hover {
  color: hsl(345, 39%, 67%);
}
