.livechat-headline{
    font: var(--inter-1);
    margin-left: 2%;
    margin-top:12px;
    margin-bottom: 12px;
    font-weight: bold;
  }

  .flexbox-container-livechat {
    display: flex;  
    flex-direction: column;
    flex-grow: 1;

  
  
  }
  .flexchild1-livechat{
  flex-grow: 0;
  margin-bottom: auto; 
  }
  .flexchild2-livechat{
flex-grow: 3;
padding-bottom: 2px;
padding-left:5px;
overflow-y: auto;
  }

  .flexchild3-livechat{
    display: flex;
    flex-direction:row;  
  }

  .flexgrandchild1-messagetextinput{
    width: 90%;
    margin-left: 10px;
  }

  .flexgrandchild2-sendmessage-icon{
flex-grow: 2;
margin-top: 38px;
margin-left: 25px;
margin-bottom: 38px;
margin-right: 28px;

  }

  .livechat-line {
    height: 1.5px;
    background-color: black;
    justify-content: center;
  }

 .messagetextinput {
  height: auto;

 }