.livechat-headline{
    font: var(--inter-1);
    margin-left: 6%;
    margin-top:10px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .flexbox-container-livechat {
    display: flex;  
    flex-direction: column;
    gap: 420px;
  
  }

  .flexchild2-livechat{
    display: flex;
    flex-direction:row;
  }

  .flexchild1-messagetextinput{
flex-grow: 3;
  }
.messagetext-input{
  margin: 0;
}
  .lexchild2-sendmessage-icon{
flex-grow: 2;
display: inline-block;

  }