

.background-img {
background-image: url('../../../public/images/image\ 2.jpg');
/*background-image: url('../../../public/images/Flower2.png'); */
 /* background-repeat: no-repeat; */
  
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Proportionate scaling */
  width: 100%;
  height: auto;

  /* Positioning */
  position: fixed;
  top: 0;
  left: 0;
}

body{
  font-family: 'Inter', sans-serif;
}