.flex-container-chatwindows {
    display: flex;  
    flex-direction: column;
    background-color:  grey;
    height: fit-content;

}
.flex-chat-icon {
    border-style: double;
   border-top:0cm;
   border-left:0cm;
   border-right: 0cm;
    border-color: black;
}
.chat-icon{
  padding: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: grey;
}

.test {
  size: 0;
}