.footer-container {
  display: flex;
  position: fixed;
  background-color: hsla(346, 58%, 98%, 0.9);
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer-text{
  column-count: 3;
  column-gap: 400px;
}

