.message-box{
  clear:right;
  color: var(--global-black-1);
  font: var( --inter-normal-text);
}

.message_sent {
  background-color: var(--global-primary-3);
  border: 2px solid var(--global-primary-2);
  width: fit-content;
  max-width: 280px;
  padding: 0px 15px;
  margin-top: 5px;
  float: right;
  align-self:end;
  border-radius: 18px;
}

.message_received {
  background-color: var(--global-grey-4);
  border: 2px solid var(--global-grey-3);
  width: fit-content;
  max-width: 280px;
  padding: 0px 15px;
  right: 20px;
  border-radius: 18px;
  margin-top: 5px;
}
