.message-box-container {

}

.receiver-message-box {
  background-color: var(--global-grey-4);
  border: 2px solid var(--global-grey-3);
  border-radius: 18px;
  color: var(--global-black-1);
  font: var( --inter-normal-text);
  width: fit-content;
  max-width: 280px;
  height: fit-content;
  padding: 8px 20px;
  margin-top: 5px;
  right: 20px;
  
}
.sender-message-box{
  background-color: var(--global-primary-3);
  border: 2px solid var(--global-primary-2);
  border-radius: 18px;
  color: var(--global-black-1);
  font: var( --inter-normal-text);
  width: fit-content;
  max-width: 280px;
  height: fit-content;
  padding: 8px 20px;
  margin-top: 5px;
  right: 20px;
  float: right;
}