.login-container {
  width: 45%;
  background-color: hsl(345, 52%, 98%);
  margin-left: 30px;
  height: 80%;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
  display: block;
  text-align: center;
}

.login-fields-container {
  margin: 10% 20% 15% 18%;
  text-align: start;
  display: block;
}

#e-mail-text {
  margin-bottom: -15px;
  font: inter;
}

#e-mail-input {
  margin-bottom: 15px;
}

#password-text {
  margin-bottom: -15px;
}

#password-input {
  margin-bottom: 25px;
}
