/* Background color */
.topnav {
  /* Transparent background color */
  background-color: hsla(346, 58%, 98%, 0.9);
  overflow: hidden;
  height: 80px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: hsl(0, 11%, 0%);
  text-align: center;
}

/* The logo parent element */
.logo-image {
  height: 80px;
  width: 150px;
  /* overflow: visible; */
}
/* The logo img */
.logo-image img {
  height: 100%;
  width: 100%;
}

.topnav-right{
  float: right;
  text-align: center;
}

.profile-icon-column{
  float: right;
  padding-top: 30px;
}

.profile-icon > * {
  fill:hsl(0, 0%, 20%)
}

.menu-icon-column{
  float: right;
  padding-right: 30px;
  padding-left: 25px;
  padding-top: 30px;
}

.menu-icon > * {
  fill:hsl(0, 0%, 20%)
}