/* Background color */
.topnav {
  /* Transparent background color */
  background-color: hsla(346, 58%, 98%, 0.9);
  height: 80px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: hsl(0, 11%, 0%);
  text-align: center;
}

/* The logo parent element */
.logo-image {
  height: 80px;
  width: 150px;
  /* overflow: visible; */
}
/* The logo img */
.logo-image img {
  height: 100%;
  width: 100%;
}

.topnav-right {
  float: right;
  text-align: center;
}

.profile-icon-column {
  float: right;
  padding-top: 2px;
}

.profile-icon > * {
  fill: hsl(0, 0%, 20%);
}

.menu-icon-column {
  float: right;
  padding-right: 30px;
  padding-left: 25px;
  padding-top: 0px;
}

.menu-icon-column2 {
  float: right;
  padding-right: 400px;
  padding-left: 20px;
  margin-top: 100px;
  margin-right: 200px;
}

.menu-icon > * {
  fill: hsl(0, 0%, 20%);
}

.nav-container {
  position: relative;
  display: inline-block;
}
.nav-profile-button {
  margin-top: 17px;
  margin-bottom: 2px;
  margin-right: 30px;
  border: none;
  background-color: Transparent;
  cursor: pointer;
}

.nav-dropdown {
  position: absolute;
  top: 100%;
  right: 30px;
  width: 150px;
  border: 1px solid;
  background-color: var(--global-primary-4);
  border-radius: 8px;
  font: var(--inter-buttons);
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 8px 12px;
}

li:hover {
  background-color: var(--global-primary-3);
  cursor: pointer;
  border-radius: 8px;
}

.nav-popUp-container{
  font: var(--inter-2);
}

.nav-popUp-btn{
  display: flex;
  gap: 30px; 
  justify-content: center;
  margin-top: 50px;
  margin-top: 50px;


}