  .container-createuserpage {
    width: 40%;
    border-radius: 40px;
    background-color: var(--global-primary-5);
    padding: 10px 10px 40px 10px;
    border-radius: 35px;
    display: block;
    margin: 50px auto;
}



@media screen and (max-width:990px){
  .container-createuserpage{ flex-wrap: wrap; width: 50%; margin-left: 1.5%; gap: 10px; }
}