.reset-container {
  width: 35%;
  background-color: hsl(346, 58%, 98%);
  height: 80%;
  padding: 20px 10px 40px 10px;
  border-radius: 35px;
  display: block;
  text-align: center;
  margin: 140px auto;
}

.reset-password-headline {
  padding-top: 15px;
  font: var(--inter-1);
  color: var(--global-black-1);
}

.lost-your-password {
  margin: 20px 0 15px 0;
  font: var(--inter-normal-text);
}

.reset-input-email {
  text-align: start;
  display: block;
  margin-top: 10px;
  margin-bottom: 20p;
}

.reset-buttons-row {
  margin-top: 25px;
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  gap: 7%;
}
