.reset-container {
  width: 35%;
  background-color: hsl(346, 58%, 98%);
  height: 80%;
  padding: 20px 10px 40px 10px;
  border-radius: 35px;
  display: block;
  text-align: center;
  margin: 140px auto;
  font-family: Arial, Helvetica, sans-serif;
}

.email {
  text-align: start;
  display: block;
  margin-top: 10px;
  margin-bottom: 20p;
}

button {
  background-color: hsl(345, 39%, 67%);
  padding: 1% 5% 1% 5%;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  border-color: hsl(345, 39%, 67%);
  color: hsl(0, 11%, 0%);
  font-size: 15px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 30px;
}

h4 {
  padding-left: 30px;
  padding-right: 30px;
}

.reset-email-button {
}
